@tailwind base;
@tailwind components;
@tailwind utilities;

.maplibregl-popup-content {
  background: rgba(79, 64, 57, 1) !important;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 10px 0px 0px 0px;
  border-radius: 8px 8px 8px 8px !important;
}

.maplibregl-popup-tip {
  border-top-color: transparent !important;
}


.maplibregl-popup-close-button {
  visibility: hidden !important;
}
