---
import Typography from "./atoms/Typography.astro";

const { title, route, type } = Astro.props;

let isModal = type === "modal";
---

{
    type === "modal" && (
        
        <button class="place-content-center cursor-default hidden md:block"  onclick="{`window.default-modal.showModal()`}" 
        data-dialog-target="dialog"
        
        >
            <Typography variant="nav" customClass="m-auto select-none">
                {title}
            </Typography>
        </button>
        <a
            href={import.meta.env.BASE_URL + route}
            class={isModal ? "md:hidden visible" : ""}
        >
            <li class="place-content-center cursor-default">
                <Typography variant="nav" customClass="m-auto select-none">
                    {title}
                </Typography>
            </li>
        </a>
    )
}

{
    type !== "modal" && (
        <a
            href={import.meta.env.BASE_URL + route}
            class={isModal ? "md:hidden visible" : ""}
        >
            <li class="place-content-center cursor-default">
                <Typography variant="nav" customClass="m-auto select-none">
                    {title}
                </Typography>
            </li>
        </a>
    )
}
