---
import Typography from './atoms/Typography.astro'

const { title, route, type } = Astro.props

let isModal = type === 'modal'
---

{
  type === 'modal' && (
    <>
      <button
        class="hidden cursor-default place-content-center md:block"
        onclick="{`window.default-modal.showModal()`}"
        data-dialog-target="dialog"
      >
        <Typography variant="nav" customClass="m-auto select-none">
          {title}
        </Typography>
      </button>
      <a
        href={import.meta.env.SITE + route}
        class={isModal ? 'visible md:hidden' : ''}
      >
        <li class="cursor-default place-content-center">
          <Typography variant="nav" customClass="m-auto select-none">
            {title}
          </Typography>
        </li>
      </a>
    </>
  )
}

{
  type !== 'modal' && (
    <>
      <a
        href={import.meta.env.SITE + route}
        class={isModal ? 'visible md:hidden' : ''}
      >
        <li class="cursor-default place-content-center">
          <Typography variant="nav" customClass="m-auto select-none">
            {title}
          </Typography>
        </li>
      </a>
    </>
  )
}
