---

---

<div
  data-dialog-backdrop="dialog"
  data-dialog-backdrop-close="true"
  class="pointer-events-none fixed inset-0 z-50 z-[999] grid h-screen w-screen place-items-center bg-black bg-opacity-60 opacity-0 backdrop-blur-sm transition-opacity duration-300"
>
  <div
    data-dialog="dialog"
    class="relative m-4 w-2/5 min-w-[40%] max-w-[40%] rounded-lg bg-white p-4 shadow-sm"
  >
    <div
      class="text-slate-800 flex shrink-0 items-center pb-4 text-xl font-medium"
    >
      Its a simple dialog.
    </div>
    <div
      class="border-slate-200 text-slate-600 relative border-t py-4 font-light leading-normal"
    >
      The key to more success is to have a lot of pillows. Put it this way, it
      took me twenty five years to get these plants, twenty five years of blood
      sweat and tears, and I&apos;m never giving up, I&apos;m just getting
      started. I&apos;m up to something. Fan luv.
    </div>
    <div class="flex shrink-0 flex-wrap items-center justify-end pt-4">
      <button
        data-dialog-close="true"
        class="border-transparent text-slate-600 hover:bg-slate-100 focus:bg-slate-100 active:bg-slate-100 rounded-md border px-4 py-2 text-center text-sm transition-all disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
        type="button"
      >
        Cancel
      </button>
      <button
        data-dialog-close="true"
        class="bg-green-600 border-transparent focus:bg-green-700 active:bg-green-700 hover:bg-green-700 ml-2 rounded-md border px-4 py-2 text-center text-sm text-white shadow-md transition-all hover:shadow-lg focus:shadow-none active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
        type="button"
      >
        Confirm
      </button>
    </div>
  </div>
</div>
