---
import Slider from "../data-viz/Slider.astro";
import AQICard from "../data-viz/AQICard.astro";
import { AQI } from "../../data/cards";
import Typography from "../atoms/Typography.astro";
import Button from "../atoms/Button.astro";
import { data, error, loading, region, selectedStation } from "../../store/map";
import { getAQIIndex } from "../../utils";
import { Card as ReactCard } from "../react/Card";

---

<ReactCard client:only>
  <div slot="header">
    <Typography variant="h4" customClass="w-auto text-center"
      >¿Cómo está el aire ahora?</Typography
    >
    <Typography variant="h6" customClass="text-lg font-bold w-auto text-center">
      {!selectedStation.get() ? "Media General" : selectedStation.get().name }
    </Typography>
    <div class="mt-4">
        <Slider value={region.get()?.aqi}/>
        <div class="mt-6" slot="aqi_card">
          <AQICard card={AQI[getAQIIndex(region.get()?.aqi || undefined)]} />
        </div>
      </div>
    <Typography variant="h4" customClass="w-auto text-center">
      Pronóstico
    </Typography>
  </div>
  <div slot="header_forecast_six">
    <Typography variant="h5-2" color="gray">Próximas 6 hs</Typography>
  </div>
  <div slot="header_forecast_twelve">
    <Typography variant="h5-2" color="gray">Próximas 12 hs</Typography>
  </div>
  <div slot="action">
    <Button variant="color" text="Recomendaciones por Nivel" />
    <Typography variant="p" customClass="text-green text-center font-bold"
      >Compartir</Typography
    >
  </div>
</ReactCard>
