---
import Slider from "../data-viz/Slider.astro"
import AQICard from "../data-viz/AQICard.astro"
import { AQI } from "../../data/cards"
import Typography from "../atoms/Typography.astro"
import Button from "../atoms/Button.astro"
import { isBackendAvailable } from "../../store/store"
import { data, error, loading, selectedStation } from "../../store/map"
import {getAQIIndex} from "../../utils"
import {BarChart as Chart} from "../react/BarChartNivo";
import { fetchRegion } from "../../store/map"

await fetchRegion()
const err = error.get()
const backendAvailable = isBackendAvailable.get()
const d = data.get()
const station = selectedStation.get()
console.log(station)
---

<div
    class="bg-white min-h-[calc(100%-6rem)] md:w-1/3 md:absolute md:top-0 rounded-xl z-20 md:ml-8 md:mt-8 drop-shadow-lg flex flex-col p-8 space-y-4"
>
    {(!backendAvailable  || err) && <div class="w-full h-full content-center justify-center"><Typography variant="h6" customClass="text-center">⚠️  Error conectándose al backend</Typography></div>}
    {
        backendAvailable && d && (
        <Typography variant="h4" customClass="w-auto text-center">¿Cómo está el aire ahora?</Typography>
                <Typography
                    variant="h6"
                    customClass="text-lg font-bold w-auto text-center"
                >
                    Media General
                </Typography>
                <div class="mt-4">
                    <Slider />
                    <div class="mt-6" />
                    <AQICard card={AQI[getAQIIndex( d.aqi)]} />
                </div>
                <Typography variant="h4" customClass="w-auto text-center">
                    Pronóstico
                </Typography>
                <Typography variant="h5-2" color="gray">Próximas 6 hs</Typography>
                <div class="h-[100px] w-full">
                <Chart data={d.forecast_6h} client:only />
                </div>
                <Typography variant="h5-2" color="gray">Próximas 12 hs</Typography>
                <div class="h-[100px] w-full pb-2">
                <Chart data={d.forecast_12h} client:only />
                </div>
                <Button variant="color" text="Recomendaciones por Nivel"/>
                <Typography variant="p" customClass="text-green text-center font-bold">Compartir</Typography>
        )
    }
    {console.log(selectedStation.get())}
</div>
