---
import Button from "../atoms/Button.astro";
import Typography from "../atoms/Typography.astro";
import X from "../../assets/logos/x.svg"
import {Image} from "astro:assets"
---

<div class="bg-bg-gray flex flex-col p-6 space-y-6 rounded-lg">
    <Typography variant="h3">Alertas vía Telegram</Typography>
    <Typography variant="p">Recibí alertas automáticas en tu Telegram ingresando a nuestro grupo de Alertas.</Typography>
    <Button text="Ir a X" variant="void"></Button>
    <Image src={X} alt="X"/>
</div>
