---
import Typography from "../atoms/Typography.astro";
import QR from "../../assets/logos/telegram_qr.svg";
import Copy from "../../assets/icons/copy_icon.svg";
import { Image } from "astro:assets";
import { TELEGRAM_URL } from "../../data/constants";
---

<script>
    import { TELEGRAM_URL } from "../../data/constants";
    const buttons = document.querySelectorAll("button.copy");

    // Handle clicks on each button.
    buttons.forEach((button) => {
        button.addEventListener("click", () => {
            navigator.clipboard.writeText(TELEGRAM_URL);
        });
    });
</script>

<div
    class="bg-bg-gray flex flex-row items-center md:justify-center md:space-x-6 space-y-6 md:space-y-0 flex-wrap w-full align-center h-full px-8 py-8"
>
    <div class="flex flex-col flex-grow space-y-4 w-min">
        <Typography variant="h3">Alertas vía Telegram</Typography>
        <Typography variant="p"
            >Recibí alertas automáticas en tu Telegram ingresando a nuestro
            grupo de Alertas.</Typography
        >
        <div
            class="bg-white rounded-lg border-lightgray border-2 p-3 flex  flex-grow flex-row items-center"
        >
            <p class="text-lightgray font-sans flex-grow text-ellipsis">
                {TELEGRAM_URL}
            </p>
            <button class="copy">
                <Image src={Copy} alt="Copy icon" class="h-4" />
            </button>
        </div>
    </div>
    <Image src={QR} alt="QR to Telegram" class="h-48 w-48" />

</div>
