---
import Navbar from '../components/Navbar.astro'
import SocialModal from '../components/SocialModal.astro'
import '../../main.css'
const BASE_URL = import.meta.env.SITE
---

<html lang="en" class="md:overflow-hidden">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href={BASE_URL + '/favicon.svg'} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>Respira</title>
  </head>
  <body class="h-full bg-base">
    <SocialModal />
    <Navbar />
    <div
      class="[&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-black-300 absolute top-20 w-full overflow-auto overflow-x-hidden md:bottom-0 [&::-webkit-scrollbar]:w-2"
    >
      <span id="top"></span>
      <slot />
    </div>
  </body>
</html>
