---
import Navbar from "../components/Navbar.astro";
import {ShareModal} from "../components/react/modals/ShareModal"
import "../../main.css"
import {BASE_URL} from "../data/constants"
---

<html lang="en" class="md:overflow-hidden">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href={BASE_URL + "/favicon.svg"} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    
    <title>Respira</title>
  </head>
  <body class="bg-base h-full">
    <ShareModal client:only="react"/>
    <Navbar />
    <div class="overflow-auto overflow-x-hidden absolute md:bottom-0 top-20 w-full [&::-webkit-scrollbar]:w-2 [&::-webkit-scrollbar-track]:bg-gray-100 [&::-webkit-scrollbar-thumb]:bg-black-300"
    >
      <span id="top"/>
      <slot />
    </div>
  </body>
</html>
