---
export const prerender = false;

import LottieAnimation from "astro-integration-lottie/Lottie.astro";

import Map from "../components/react/Map";
import BaseLayout from "../layouts/BaseLayout.astro";
import Card from "../components/cards/Card.astro";
import AQICard from "../components/data-viz/AQICard.astro";
import Footer from "../components/atoms/Footer.astro";
import { AQI } from "../data/cards";
import Link from "../components/atoms/Link.astro";
import { Image } from "astro:assets";
import { HOME_IMAGES } from "../data/images";
import BackTop from "../components/atoms/BackTop.astro";
import Typography from "../components/atoms/Typography.astro";
---
<script>
  import { isRecommendationsModalOpen} from "../store/modals";

  const buttons = document.querySelectorAll("a.modal");
  // Handle clicks on each button.
  buttons.forEach((button) => {
    button.addEventListener("click", () => {
      isRecommendationsModalOpen.set(!isRecommendationsModalOpen.get());
    });
  });
</script>
<BaseLayout>
  <Map client:only="react">
    <div
      slot="fallback"
      class="w-full h-4/6 justify-center content-center flex"
    >
      <LottieAnimation
        src="src/assets/animations/bar_loader.json"
        autoplay="visible"
      />
    </div>
  </Map>
  <div class="md:absolute top-0 w-full md:w-1/2 pointer-events-none">
    <Card />
    <div class="hidden px-10 mt-16 space-y-4 md:pr-20 md:block">
      <Typography variant="p">
        La contaminación por partículas puede ocasionar problemas de salud
        graves, como ataques de asma, ataques cardíacos, derrames cerebrales y
        una muerte temprana.
      </Typography>
      <Typography variant="p">
        La contaminación por partículas puede ser un problema en cualquier
        momento del año.
      </Typography>
      <Typography variant="p">
        ¡Puede reducir la exposición a la contaminación y aún hacer ejercicio!
        Utilice los pronósticos diarios del Índice de Calidad del Aire (AQI) de
        esta web para planear sus actividades al aire libre.
      </Typography>
      <div class="flex flex-row w-full justify-between p-4 mt-16 px-14 mt-8">
        {
          HOME_IMAGES.map((image) => (
            <Image class={image.class} alt={image.alt} src={image.path} />
          ))
        }
      </div>
    </div>
  </div>
  <div class="w-full flex flex-col md:flex-row p-8 md:p-12">
    <div class="md:w-1/2 hidden md:block"></div>
    <div class="md:w-1/2">
      <Typography variant="h1" color="gray"
        >Índice de calidad del aire (AQI)</Typography
      >
      <p class="mt-2">
        <Link
          href="https://www.airnow.gov/sites/default/files/2018-05/air-quality-guide_particle_SPA.pdf"
          text="Via fuente"
        />
      </p>
      <div class="flex flex-col space-y-3 h-full pt-8">
        {AQI.map((aqi) => <AQICard card={aqi} variant="full" />)}
      </div>
    </div>
  </div>
  <a class="modal">
    <p class="font-bold text-md pl-10">Recomendaciones por nivel</p>
  </a>
  <BackTop />
  <Footer />
</BaseLayout>
