---
---
<div class="flex flex-row">
    <div class="text-xs w-1/2"></div>
    <p class="text-xs font-bold w-full text-lightgray text-center">50</p>
    <p class="text-xs font-bold w-full text-lightgray text-center">100</p>
    <p class="text-xs font-bold w-full text-lightgray text-center">1 50</p>
    <p class="text-xs font-bold w-full text-lightgray text-center">200</p>
    <p class="text-xs font-bold w-full  text-lightgray text-center">300</p>
    <div class="text-xs w-1/2"></div>
</div>
<div class="flex flex-row divide-x-2">
    <div class="bg-aqi-green-dark h-6 w-full rounded-l-full border-y-2 border-l-2 border-gray"></div>
    <div class="bg-aqi-yellow-dark h-6 w-full border-2 border-gray"></div>
    <div class="bg-aqi-orange-dark h-6 w-full border-2 border-gray"></div>
    <div class="bg-aqi-red-dark h-6 w-full border-2 border-gray"></div>
    <div class="bg-aqi-purple-dark h-6 w-full border-2 border-gray"></div>
    <div class="bg-aqi-vermellion-dark h-6 w-full rounded-r-full border-2 border-gray"></div>
</div>