---
export const prerender = false;

import Typography from "../../components/atoms/Typography.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Footer from "../../components/atoms/Footer.astro";
import { HistoricLineChart } from "../../components/react/data-viz/HistoricLineChart.tsx";
import { BoxPlotChart } from "../../components/react/data-viz/BoxPlotChart.tsx";
import { statisticsSelectedStation, statisticsStationId } from "../../store/statistics";
import PlaceHolderMap from "../../components/react/PlaceholderMap";
import BackTop from "../../components/atoms/BackTop.astro";
import {CharacteristicsStation} from "../../components/react/statistics/Characteristics"
import {HeaderStatistics} from "../../components/react/statistics/Header"

const { slug } = Astro.params;
statisticsStationId.set(undefined)
if (!slug) return Astro.redirect("/404");
const stationId=parseInt(slug)
if(Number.isNaN(stationId))  return Astro.redirect("/404");
statisticsStationId.set(stationId)
---

<BaseLayout>
  <section class="flex flex-col md:px-20 px-10 pt-12">
    <HeaderStatistics />
    <hr class="h-px my-8 bg-gray-200 border-1 dark:bg-gray-700" />
    <div
      class="grid md:grid-cols-3 grid-cols-1 md:space-x-12 md:space-y-0 space-y-6"
    >
      <div class="rounded-lg overflow-clip">
        <PlaceHolderMap client:only="react" />
      </div>
      <CharacteristicsStation />
    </div>
  </section>
  <section class="flex flex-col md:px-20 px-10 pt-12">
    <Typography variant="h2">Estadísticas</Typography>
    <Typography variant="h3" customClass="pt-10"
      >Mediciones históricas de calidad de aire (AQI)</Typography
    >
    <Typography variant="p"
      >Mediciones de calidad de aire grabadas por los sensores y predicciones de
      las próximas 6 y 12 horas.</Typography
    >
    <div class="h-[450px] w-full">
      <HistoricLineChart client:only="react" />
    </div>
    <Typography variant="h3" customClass="pt-10"
      >Histórico: Índice de calidad del aire</Typography
    >
    <Typography variant="p">Historial de mediciones de los sensores.</Typography
    >
    <div
      class="grid md:grid-cols-2 grid-cols-1 mt-12 col-span-4 space-x-4 space-y-4"
    >
      <div class="cols-span-1">
        <Typography variant="h6">Última semana</Typography>
        <div class="h-[450px] w-full">
          <BoxPlotChart client:only="react" period="7d" />
        </div>
      </div>
      <div class="cols-span-1">
        <Typography variant="h6">Último mes</Typography>
        <div class="h-[450px] w-full">
          <BoxPlotChart client:only="react" period="30d" />
        </div>
      </div>
      <div class="cols-span-2">
        <Typography variant="h6">Último año</Typography>
        <div class="h-[450px] w-full">
          <BoxPlotChart client:only="react" period="1y" />
        </div>
      </div>
    </div>
  </section>
  <BackTop />

  <Footer />
</BaseLayout>
