---
import { Image } from 'astro:assets'
import Arrow from '../../assets/icons/arrow_top_icon.svg'
---

<div class="mx-10 my-2 w-auto border font-black"></div>
<a href="#top">
  <div class="mx-10 mb-10 flex w-auto justify-end" onclick="">
    <p class="text-lg font-semibold">Volver arriba</p>
    <Image alt="Arrow top" src={Arrow} class="mx-3" />
  </div>
</a>
