---
interface Props {
  text: string;
  variant: "color" | "void"
  onclick?  : () => void
}

const { text, variant } = Astro.props;
console.log("color", variant)
---

<button class={"font-bold py-2 px-6 rounded-md text-sm " + variant === "color" ? "bg-green text-white " : "border text-black font-semibold py-2 px-6 rounded-md text-sm"}>
    {text.toUpperCase()}
</button> 