---
interface Props {
  text: string
  variant: 'color' | 'void'
  onclick?: null | undefined | string
}

const { text, variant, onclick } = Astro.props
---

{
  variant === 'color' && (
    <button
      class={
        'w-full rounded-md bg-green px-6 py-3 font-serif text-sm font-bold text-white'
      }
      onclick={onclick}
    >
      <p class="font-serif uppercase">{text}</p>
    </button>
  )
}
{
  variant === 'void' && (
    <button
      class={'rounded-md border px-6 py-2 text-sm font-semibold text-black'}
      onclick={onclick}
    >
      <b>{text.toUpperCase()}</b>
    </button>
  )
}
