---
interface Props {
  text: string;
  variant: "color" | "void";
  onclick?: (() => void) | string;
}

const { text, variant, onclick } = Astro.props;
---

{
  variant === "color" && (
    <button
      class={
        "text-white font-serif font-bold py-3 px-6 rounded-md text-sm bg-green w-full" 
      }
      onclick={onclick}
    >
      <p class="font-serif uppercase">{text}</b>
    </button>
  )
}
{
  variant === "void" && (
    <button
      class={
        "font-bold py-2 px-6 rounded-md text-sm border text-black font-semibold py-2 px-6 rounded-md text-sm"
      }
      onclick={onclick}
    >
      <b>{text.toUpperCase()}</b>
    </button>
  )
}
