---
import type { HTMLAttributes } from "astro/types";
type Props = {
  text: string;
  variant: "color" | "void";
  onclick?: null | undefined | string;
  customClass?: string;
} & HTMLAttributes<"button">;

const { text, variant, onclick, customClass, ...props } = Astro.props;
---

{
  variant === "color" && (
    <button
      class={
        "text-white font-serif font-bold py-3 px-6 rounded-md text-sm bg-green w-full " +
        customClass
      }
      onclick={onclick}
      {...props}
    >
      <p class="font-serif uppercase">{text}</p>
    </button>
  )
}
{
  variant === "void" && (
    <button
      class={"border text-black font-semibold py-2 px-6 rounded-md text-sm " + customClass}
      {...props}
      onclick={onclick}
    >
      <b>{text.toUpperCase()}</b>
    </button>
  )
}
